PORT=3000
NODE_ENV=development

# Base de datos
#DATABASE_URL=postgres://user:pass@localhost:5432/chop_url

# Auth
JWT_SECRET=changeme_generate_a_random_string
JWT_EXPIRES_IN=7d

# URLs
FRONTEND_URL=http://localhost:5173

# Otros
LOG_LEVEL=debug
