/* components/Layout/Layout.css */
.app-container {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  min-height: 100vh;
  overflow: hidden;
}

.main-content {
  grid-column: 2;
  min-height: 100vh;
  padding: 2rem 2rem 2rem 2rem;
  padding-bottom: 0rem;
}

@media (max-width: 1024px) {
  .app-container {
    display: block;
    min-height: 100vh;
  }

  .main-content {
    grid-column: auto;
    min-height: 100vh;
  }
}
